body {
    background: #081b29;
    color: #ededed;
    font-family: 'Poppins', sans-serif;
}

#cv-section {
    text-align: center;
    padding: 20px;
}

.cv-download-btn, .back-btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cv-download-btn:hover, .back-btn:hover {
    background-color: #0056b3;
}
